In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.columns

Index(['AnimalID', 'Name', 'DateTime', 'OutcomeType', 'OutcomeSubtype',
       'AnimalType', 'SexuponOutcome', 'AgeuponOutcome', 'Breed', 'Color'],
      dtype='object')

In [4]:
df.head()

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White
1,A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby
2,A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White
3,A683430,NaN,2014-07-11 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream
4,A667013,NaN,2013-11-15 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan

In [5]:
df.AnimalType.unique()

array(['Dog', 'Cat'], dtype=object)

In [28]:
df.AgeuponOutcome.unique()

array(['1 year', '2 years', '3 weeks', '1 month', '5 months', '4 years',
       '3 months', '2 weeks', '2 months', '10 months', '6 months',
       '5 years', '7 years', '3 years', '4 months', '12 years', '9 years',
       '6 years', '1 weeks', '11 years', '4 weeks', '7 months', '8 years',
       '11 months', '4 days', '9 months', '8 months', '15 years',
       '10 years', '1 week', '0 years', '14 years', '3 days', '6 days',
       '5 days', '5 weeks', '2 days', '16 years', '1 day', '13 years',
       nan, '17 years', '18 years', '19 years', '20 years'], dtype=object)

In [33]:
df.loc[df['AgeuponOutcome'].str.startswith('1 year',na=False), 'AgeuponOutcome'] = 54
df.loc[df['AgeuponOutcome'].str.startswith('2 years',na=False), 'AgeuponOutcome'] = 104
df.loc[df['AgeuponOutcome'].str.startswith('3 weeks',na=False), 'AgeuponOutcome'] = 3
df.loc[df['AgeuponOutcome'].str.startswith('1 month',na=False), 'AgeuponOutcome'] = 4
df.loc[df['AgeuponOutcome'].str.startswith('5 months',na=False), 'AgeuponOutcome'] = 20
df.loc[df['AgeuponOutcome'].str.startswith('4 years',na=False), 'AgeuponOutcome'] = 208
df.loc[df['AgeuponOutcome'].str.startswith('3 months',na=False), 'AgeuponOutcome'] = 12

df.loc[df['AgeuponOutcome'].str.startswith('2 weeks',na=False), 'AgeuponOutcome'] = 2
df.loc[df['AgeuponOutcome'].str.startswith('2 months',na=False), 'AgeuponOutcome'] = 8
df.loc[df['AgeuponOutcome'].str.startswith('10 months',na=False), 'AgeuponOutcome'] = 40
df.loc[df['AgeuponOutcome'].str.startswith('6 months',na=False), 'AgeuponOutcome'] = 24
df.loc[df['AgeuponOutcome'].str.startswith('5 years',na=False), 'AgeuponOutcome'] = 260
df.loc[df['AgeuponOutcome'].str.startswith('7 years',na=False), 'AgeuponOutcome'] = 364
df.loc[df['AgeuponOutcome'].str.startswith('3 years',na=False), 'AgeuponOutcome'] = 156

df.loc[df['AgeuponOutcome'].str.startswith('4 months',na=False), 'AgeuponOutcome'] = 16
df.loc[df['AgeuponOutcome'].str.startswith('7 months',na=False), 'AgeuponOutcome'] = 28
df.loc[df['AgeuponOutcome'].str.startswith('8 years',na=False), 'AgeuponOutcome'] = 416
df.loc[df['AgeuponOutcome'].str.startswith('11 months',na=False), 'AgeuponOutcome'] = 44
df.loc[df['AgeuponOutcome'].str.startswith('9 months',na=False), 'AgeuponOutcome'] = 36
df.loc[df['AgeuponOutcome'].str.startswith('8 months',na=False), 'AgeuponOutcome'] = 32
df.loc[df['AgeuponOutcome'].str.startswith('15 years',na=False), 'AgeuponOutcome'] = 780

In [6]:
data = df.OutcomeType.unique()
df.OutcomeType.value_counts()

Adoption           10769
Transfer            9422
Return_to_owner     4786
Euthanasia          1555
Died                 197
Name: OutcomeType, dtype: int64

In [7]:
def prop(df, value):
    var = df[df.OutcomeType==value]
    print(value)
    print(len(var)/len(df))

In [8]:
cat = df[df.AnimalType == 'Cat']

In [9]:
for value in data:
    prop(cat, value)

Return_to_owner
0.04490749056942698
Euthanasia
0.06376863660858631
Adoption
0.3836895994251841
Transfer
0.49443147116939107
Died
0.013202802227411532

In [10]:
dog = df[df.AnimalType == 'Dog']
for value in data:
    prop(dog, value)

Return_to_owner
0.27483167681949344
Euthanasia
0.05418403334402052
Adoption
0.41660788714331515
Transfer
0.2511702468739981
Died
0.0032061558191728116

In [11]:
df.SexuponOutcome.unique()

array(['Neutered Male', 'Spayed Female', 'Intact Male', 'Intact Female',
       'Unknown', nan], dtype=object)

In [16]:
male = df[(df.SexuponOutcome == 'Neutered Male') | (df.SexuponOutcome == 'Intact Male') ]
female = df[(df.SexuponOutcome == 'Spayed Female') | (df.SexuponOutcome == 'Intact Female') ]
print ('MALE')
for value in data:
    prop(male, value)
print ('FEMALE')
for value in data:
    prop(female, value)

MALE
Return_to_owner
0.2047504509921828
Euthanasia
0.06171076368009621
Adoption
0.40438965724594106
Transfer
0.32178292242934453
Died
0.007366205652435358
FEMALE
Return_to_owner
0.1661665720541724
Euthanasia
0.05133403616900495
Adoption
0.43702862703754763
Transfer
0.33946962938934394
Died
0.006001135349931068

In [17]:
def prop(df, value):
    var = df[df.OutcomeType==value]
    return(len(var)/len(df))

In [27]:
from statsmodels.stats.proportion import proportions_ztest

for value in data:
    proportion = prop(male, value)
    ttl = prop(df, value)
    print(value)
    if proportion > ttl:
        print(proportions_ztest(ttl,proportion, 0.05)[1])
    else:
        print(proportions_ztest(proportion, ttl, 0.05)[1])

Return_to_owner
0.2600729193218638
Euthanasia
0.339872389276868
Adoption
3.439699695671512e-23
Transfer
0.0693160589277285
Died
0.0005182404368703555

In [38]:
df['month'] = pd.DatetimeIndex(df['DateTime']).month

In [42]:
df2 = df.groupby(['month']).count(df.OutcomeType == 'Adoption')

# sns.barplot(x='month',y='OutcomeType', data=df)
# plt.show()

TypeError: count() takes 1 positional argument but 2 were given